version: '3'

services:
  app:
    container_name: php
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    networks:
      - backend
    ports:
      - 8000:9000
  db:
    image: mysql
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-orm}
    env_file: ./.env
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - backend
networks:
  backend:
    name: backend
    driver: bridge